.s6MaxV-h1 {
  font-size: 5.4rem;
  line-height: 1.8;
  font-weight: 700;
  text-align: center;

  @media only screen and (max-width: 1200px) {
    font-size: 4.8rem;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 3.2rem;
    line-height: 1.6;
    text-align: left;
  }
}

.s6MaxV-h2 {
  font-size: 4rem;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;

  @media only screen and (max-width: 1200px) {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 2.4rem;
    text-align: left;
  }
}

.s6MaxV-h3 {
  font-size: 2.4rem;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.redText {
  color: var(--color-roborock);
}