.e4__06-More {
  position: relative;
  height: 80rem;
  background-image: url(./../images/heros-e4-more-than-a-vacuum.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 100%;

  @media only screen and (max-width: 750px) {
    background-image: url(./../images/heros-e4-more-than-a-vacuum-750px.jpg);
    background-position: center bottom;
  }

  &__text {
    @include E4-section-padding;
    @include E4-text-box;
    color: #fff;

    & p {
      @include E4-paragraph(center, #fff);
    }
  }
}