.e4__08-Hair {
  @include E4-section-padding;
  padding-top: 6rem;

  &__text {
    @include E4-text-box(70rem);
    margin-bottom: 8rem;

    @media only screen and (max-width: 500px) {
      margin-bottom: 6rem;
    }

    & p {
      @include E4-paragraph(center, var(--color-txt-grey-darker));
    }
  }

  & img {
    display: block;
    width: 90%;
    height: auto;
    max-width: 100rem;
    margin: 0 auto;
    border-radius: 1rem;
  }
}