.e4__12-Features {
  display: grid;
  grid-template-columns: repeat(2, 36rem);
  justify-content: center;
  grid-gap: 8rem 12rem;
  column-gap: 12rem;
  row-gap: 8rem;
  @include E4-section-padding;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 66%;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 80%;
    grid-gap: 6rem;
    row-gap: 6rem;
  }

  &__feature {

    & svg {
      height: 5.2rem;
      width: auto;
      margin-bottom: 1.6rem;
    }

    & p {
      font-size: 1.6rem;
      line-height: 1.6;
      color: var(--color-txt-grey-darker);
    }
  }
}